
<p-toast position="top-right"></p-toast>

<p-sidebar [(visible)]="display" position="right" class="p-sidebar-lg" [baseZIndex]="10000" [showCloseIcon]="false">
    <h2>Add Product</h2>

    <div class="prod-align product-in">
        <div>
            <input type="text" pInputText placeholder="Name" [(ngModel)]="product.name"/>
        </div>
        <div>
            <input type="text" pInputText placeholder="Description" [(ngModel)]="product.description"/>
        </div>
        <div>
            <input type="text" pInputText placeholder="Image URL" [(ngModel)]="product.image"/>
        </div>
        <div>
            <input type="number" pInputText placeholder="Price" [(ngModel)]="product.price"/>
        </div>
        <div>
            <input type="number" pInputText placeholder="Stock Quantity" [(ngModel)]="product.stock_quantity"/>
        </div>
        <div>
            <input type="number" pInputText placeholder="Rating" [(ngModel)]="product.rating"/>
        </div>
    </div>


    <div class="mt-25">
        <p-button icon="pi pi-times" styleClass="ml-2" label="Cancel" (click)="cancel()"></p-button>
        <p-button icon="pi pi-save" styleClass="ml-2" label="Save" (click)="save()"></p-button>
    </div>

</p-sidebar>